<footer>

  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" id="footer-logo">

  <nav role="navigation" id="footer-nav">
    <ul>
      {% for link in linklists.menu-2.links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <form method="post" action="http://ymlp.com/subscribe.php?id=gmeumbugmgj" target="_blank">
    <table class="signup" align="center" border="0" cellpadding="5" cellspacing="0">
      <tbody>
        <tr>
          <td colspan="2">Mailing List</td>
          <td valign="top"><input name="YMP0" size="20" class="singupinput" value="Enter email" onblur="this.value=!this.value?'Enter email':this.value;" onfocus="this.select()" onclick="this.value='';" type="text"></td>
          <td colspan="2"><input value="Submit" class="signup_submit" type="submit"></td>
        </tr>
    </tbody>
  </table>
  </form>

</footer>
