<footer>

  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" id="footer-logo">

  <p id="footer-copyright">&copy; Sequence Press {{ "now" | date: "%Y" }}</p>

  <nav role="navigation" id="footer-nav">
    <ul>
      {% for link in linklists.menu-2.links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <form class="" action="http://ymlp.com/subscribe.php?id=gmeumbugmgj" method="post">
    <label for="Submit">Mailing List</label>
    <input name="YMP0" value="Enter email" type="text">
    <button value="Submit" type="submit" name="button">Submit</button>
  </form>

</footer>
