<header>
  <a href="/">
    <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" id="header-logo">
  </a>

  <button id="menu-button" type="button" name="menu-button">Menu</button>

  <nav role="navigation" id="header-nav">
    <ul>
      {% for link in linklists.menu-2.links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

</header>
